setuptools==65.6.3
fastparquet
tableone
PsmPy
matplotlib-venn
statsmodels
tabulate
dftest
pandasgui
dataprep
fastparquet
pyarrow
label-studio
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
